<!DOCTYPE html>
<html class="fullHeight"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Login</title>
	<link rel = "icon" type = "image/png" href = "/Images/logo.png" />
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/Comunes.css}" />
	<link rel="stylesheet" th:href="@{/css/LoginBox.css}" />
	
	
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>    
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/promise-polyfill/7.0.0/dist/promise.min.js"></script>    
	<script type="text/javascript" th:src="@{/js/Conexion.js}"></script>	
	
</head>

<body class="fondo fullHeight">


<nav class="title navbar navbar-default navbar-static-top" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" style="color:#fff" href="#">Wiki Series</a>	
	</div>
</nav>
<br></br>
<div class="container">
	
	
	<div class="row">
		
		<div class="col-lg-12">
			
			<div class="row">
				<div class="loginmodal-container">
					<h1>Iniciar sesion con tu cuenta</h1><br />
				  <form action="/IniciarSesion" method="post">
				  	<input type = "hidden" id = "ciudad" name = "ciudad" />
				  	<input type = "hidden" id = "pais" name = "pais" />
				  	<input type = "hidden" id = "ip" name = "ip" />
				  	<input type = "hidden" id = "provincia" name = "provincia" />
				  	<input type = "hidden" id = "codigoPostal" name = "codigoPostal" />
				  	
				  	<div th:if ="${errorUsuario != null}">
				  		<p th:text = "${errorUsuario}" class = "colorError"></p>
				  	</div>
					<input type="text" name="user" placeholder="Usuario" th:required = "required" pattern="[a-zA-Z0-9]{5,10}" title= "Nomre de usuario sin espacios entre 5 y 10 caracteres." />
					
					<div th:if ="${errorContrasena != null}">
				  		<p th:text = "${errorContrasena}" class = "colorError"></p>
				  	</div>
					<input type="password" name="password" placeholder="Contraseña" th:required = "required"  minlength="8" title="Contraseña con longitud minima de 8 caracteres" />
					
					<p th:if ="${errorDescripcion != null}" th:text = "${errorDescripcion}" class = "colorError"></p>
					<input type="submit" name="login" class="login loginmodal-submit" value="Iniciar Sesion" />
					
				  </form>
					
				  <div class="login-help">
					<a href="/Registro">Crear cuenta</a> - <a href="/RecuperarCuenta">Olvidaste la contraseña</a>
				  </div>
				  
				  <p th:text = "${confirmActivacion}" class = "colorOk"></p>
				  
				</div>
			</div>
		
		</div>
	</div>
	
	</div>
	
  		
</body>
</html>

<style>

.fondo{
	background-image:url("Images/fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

</style>

<script>
	var infoConexion = TFG.Conexion();
</script>

